<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHFSk-nic1gZs1Pe04oMMqFCqzHq5M0xA</string>
	<key>GCM_SENDER_ID</key>
	<string>325198793476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helping.dev</string>
	<key>PROJECT_ID</key>
	<string>helping-hand-dev-145</string>
	<key>STORAGE_BUCKET</key>
	<string>helping-hand-dev-145.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325198793476:ios:4750755586389edd315e51</string>
</dict>
</plist>